@import "abstracts/variables";

.header {
  
  &__random-text {
    
    &--top {
      font-size: $default-font-size;
      color: $color-blue;
      background: $color-black;
    }

    &--bottom {
      font-size: $default-font-size;
      color: $color-black;
      background: $color-blue;
    }
  }
}